.order-details-container {
    height: 80vh;
    margin-bottom: 2rem;
}

.order-details-success {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 44rem;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
}

.order-details-desc {
    display: flex;
    flex-direction: column;
    height: 40rem;
}

.stay-order-details {
    display: flex;
    flex-direction: column;
}

.guests-order-details {
    display: flex;
    flex-direction: column;
}

.pricing-for-order {
    display: flex;
    flex-direction: column;
}

.pending-reservation-container {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    width: 43.25rem;
    background-color: white;
    z-index: 5;
    position: sticky;
    top: 6rem;
    margin-top: 1rem;
}

.pending-status-container {
    display: flex;
    align-items: center;
    gap: 12.5px;
}

.pending-img {
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pending-img img {
    width: 24px;
    height: 24px;
}

.pending-reservation-container .clean-list {
    flex-direction: column;
    margin: 0 auto;
}

.list-container .li-title {
    font-family: "Airbnb-Medium";
    font-size: 16px;
    padding-right: 5px;
}

.guests-box {
    display: flex;
    flex-direction: column;
}

.guests-box .guests-li {
    display: flex;
    flex-direction: row;
}

.fees-box {
    display: flex;
    flex-direction: column;
}

.fees-box .cleaning-fee-container {
    display: flex;
    flex-direction: row;
}

.fees-box .security-fee-container {
    display: flex;
    flex-direction: row;
}