.app-header.scrolled + .section-row  {
    margin-top: 166px;
  }
.stay-app{
	width: 100%;
}
// .section-col.stay-col{
// 	// max-width: 88%;
// }
.section-col.preview-col{
	max-width: 110%;
}
// @media (max-width: 1040px) {
//   .section-col.stay-col{
//     max-width: calc(min(1760px, 100%) - 80px);
//   }
// }
// @media (max-width: 800px) {
//   .section-col.stay-col{
//     max-width: calc(min(1760px, 100%) - 40px);
//   }
// }