

.stay-details h1 {
    margin-bottom: 0.3rem;
    font-size: 1.625rem;
    line-height: 1.875rem;
    font-family: Airbnb-Book;
    color:#222222;
}
.stay-details .star-img {
    width: 1rem;
    height: 1rem;
}
.stay-rate-container{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: Airbnb-Book;
}
.stay-details-rate{
    color:#222222;
}
.stay-details-address{
    color:#717171;

}

.stay-details {
    display:grid;
    grid-template-rows: 1fr 1fr ;
    // grid-template-columns: 1fr 1fr 1fr ;
}

.stay-images-container {
    display: flex;
    gap: 20px;
}
.stay-images {
    display: flex;
    justify-content: space-between;
    width: 34.0625rem;
}

.stay-details .stay-type-container {
    flex-direction: column;  
}

.stay-details .small-img-container {
    display: flex;
    align-self: center;
}

.stay-details .hr {
border-top-color: rgb(221, 221, 221);
border-top-width: 0.5px;
border-top-style:solid;
width: 34.0625rem;
}


