.stay-details {
    display:grid;
    grid-template-rows: 1fr 1fr ;
    // grid-template-columns: 1fr 1fr 1fr ;
}

.stay-images-container {
    display: flex;
    gap: 20px;
}
.stay-images {
    display: flex;
    justify-content: space-between;
}