.backoffice-list-container table {
    table-layout: fixed;
    margin: 0 auto;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.backoffice-list-container thead {
    display: table-row;
    text-align: left;
}

.backoffice-list-container th {
    width: 150px;
}

.table-heading {
    color: #ff385c;
}