.orders-preview-container td {
    width: 200px;
    display: flex;
    align-items: center;

}

.th-container th {
    width: 200px;
    align-items: left;
}

.orders-preview-container {
    height: 65px;
    // border-bottom: 1px solid lightgray;
}

.orders-preview-container:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

.btn-container button {
    width: 65px;
    height: 35px;
    border: 1px solid #222222;
    font-family: "CircularStd-Book";
    font-size: 11px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: relative;
    color: #222222;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

.btn-container button:disabled {
    border: 1px solid #717171;
    color: #717171;
    cursor: not-allowed;
}

.td-span-guests {
    margin-right: 5px;
}

.btn-container button:disabled:hover {
    border: 1px solid #717171;
    color: #717171;
    cursor: not-allowed;
}

.approve {
    font-family: "Airbnb-medium";
    color: #00a699;
}

.decline {
    font-family: "Airbnb-medium";
    color: #c01333;
}

.pending-content {
    font-family: "Airbnb-medium";
    color: #fc642d;
}

.btn-container .approve:hover {
    border: 1px solid #00a699;
    color: #00a699;
}

.btn-container .decline:hover {
    border: 1px solid #c01333;
    color: #c01333;
}

.unSeen {
    font-family: 'Airbnb-bold';
}

.td-guest {
    flex-direction: column;
}