.reserve-card {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  width: 23.25rem;
  background-color: white;
  z-index: 5;
  position: sticky;
  top: 6rem;
  margin-top: 1rem;
}

.reserve-card p {
  margin-bottom: 1.5rem;
}

.reserve-card .input-container {
  display: flex;
  //   justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 3.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.input-container-checks {
  position: relative;
}
.reserve-container .date-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.reserve-container .el-range-input {
  text-align: center !important;
  padding: 0 !important;
}

.reserve-vsep {
  border-right: 1px solid lightgrey;
  height: 100%;
  display: flex;
  width: 50%;
}

.reserve-container .card-check-in,
.reserve-container .card-check-out {
  margin-top: -16px;

}

.container {
  cursor: pointer;
}

.reserve-container .reserve-vsep,
.reserve-container .card-check-out,
.reserve-container .container .select-label,
.reserve-container .el-range-input {
  padding-left: 0.8rem !important;
}

.reserve-container .el-range-input {
  text-align: left !important;
}

.reserve-container .card-check-out {
  width: 50%;
}

.input-container-checks {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: airbnb-medium;
  border: 1px solid lightgrey;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  height: 64px;
  width: 100%;
}

.reserve-card .container {
  width: 20.125rem;
  height: 3.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px lightgrey;
  border-top: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-check-in,
.card-check-out,
.reserve-card .select-checkbox {
  font-family: "CircularStd-Book";
  font-size: 0.8rem;
  font-weight: normal;
}

.card-check-in,
.card-check-out {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
  font-family: 'CircularStd-Medium';
}

.card-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reserve-pets-service {
  font-size: 0.83rem;
  font-family: "Airbnb-Book";
  text-decoration: underline;
}

.card-price {
  font-family: CircularStd-Book;
  font-size: 1.375em;
}

.night {
  font-size: 1rem;
  padding-right: 5.55rem;
  margin-bottom: -6px;
}

.card-rate {
  font-size: 14px;
  font-family: airbnb-medium;
  padding-left: 4px;
  color: rgb(34, 34, 34);
  line-height: 1.125rem;
}

.card-reviews {
  text-decoration: underline;
  font-family: "Airbnb-Medium";
  padding-right: 4px;
  font-size: 0.875rem;
  color: rgb(34, 34, 34);
  line-height: 1.125rem;
}

.guest-head {
  font-size: 10px;
  font-family: 'CircularStd-Medium';
}

.mouse-cursor-gradient-tracking {
  position: relative;
  background: radial-gradient(
      circle at center,
      #ff385c 5%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 950%
    );
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "CircularStd-Book";
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 11px;
}

.mouse-cursor-gradient-tracking:before {
  --size: 0;
  opacity: 0.18 !important;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle at center center,
    rgb(255, 56, 92) 5%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(197, 30, 92) 95%
  ) !important;
  transform: translate(-50%, -50%);

  transition: width 0.2s ease, height 0.2s ease;
  background-size: 200% 200% !important;
  // transition: opacity 1s ease 0s !important;
}

.info-top-left {
  display: flex;
  align-items: center;
}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 200px;
  opacity: 0.7;
  width: 100%;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.reserve-card .time {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 3.5rem;
}

.reserve-card .date {
  width: 20rem;
}

.reserve-card .select-checkbox {
  display: none;
  position: relative;
}

.reserve-card .select-label {
  position: relative;
  text-transform: uppercase;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.reserve-card .select-wrap {
  background: rgb(255, 255, 255);
}

.num-of-guests-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.arrow-down-up-container {
  padding-right: 0.8rem;
}

.reserve-card .select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  list-style: none;
  padding: 20px;
  padding-top: 10px;
  margin-top: 1.75rem;
  right: 0%;
  position: absolute;
  background-color: #ffffff;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  width: 100%;
  height: 27.9775rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.count-span {
  align-items: center;
}

.option {
  justify-content: inherit;
  display: flex;
}

.reserve-card .options-list {
  flex-direction: column;
  line-height: 1rem !important;
  text-align: left;
  // font-size: 1rem;
}

.reserve-card .btn-list {
  display: flex;
  justify-content: right;
  color: #222222;
  align-items: center;
}

.reserve-card button:disabled {
  cursor: not-allowed;
}

.reserve-card .count-span {
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  text-align: center;
  margin: 0.5rem;
  font-family: airbnb-book;
}

.close-popup {
  text-decoration: underline !important;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'CircularStd-Book';

}


.reserve-card .btn-list button {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  border-radius: 50%;
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  background-color: whitesmoke;
  color: #717171;
  font-size: 1.3125rem;
}

.reserve-card .pet-msg {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  color: #717171;
  text-align: left;
}

.reserve-card .select a {
  // text-decoration: underline;
  color: inherit;
  cursor: pointer;
  font-family: "CircularStd-Medium";
}

.el-range-editor.el-input__inner {
  display: inline-flex;
  align-items: center;
  margin: 10px;
  padding-bottom: 10px;
  cursor: pointer !important;
}

.text-charging {
  text-align: center; 
  color: $grey;
  margin: .5rem;
}

.pricing-night {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.2rem;
  color: $black;
}

.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'CircularStd-Book';
}

.text-decor {
  text-decoration: underline;
}

.fees {
  text-decoration: underline;
}

.hr-reserve {
  width: 100%;
  border-top: 0.2px solid #dddddd;
  margin: 1em 0;
}

.text-reserve {
  font-family: 'CircularStd-Book';
  font-size: 1.03rem;
}

.msg-pickdates {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.msg-btn-pickdates {
  border-radius: 20px;
  background-color: transparent;
}

.msg-btn {
  background-color: white;
  border: none;
}

.msg-btn:hover {
  cursor: pointer;
}

.num-of-guests-box {
  text-transform: lowercase;
}

//DATE PICKER SETTINGS:

.el-date-table td.in-range .el-date-table-cell {
  background-color: #f7f7f7 !important;
}

.el-date-table td.end-date .el-date-table-cell__text,
.el-date-table td.start-date .el-date-table-cell__text {
  background-color: #222222 !important;
}

.el-date-range-picker {
  --el-datepicker-active-color: var(--el-color-primary);
  --el-datepicker-hover-text-color: $black;
}

//ON CURRENT DATE

.el-date-table td.today.end-date .el-date-table-cell__text, .el-date-table td.today.start-date .el-date-table-cell__text {
  color: #fff !important;
}

  .el-date-table td.today .el-date-table-cell__text {
    color: var(--el-text-color-regular) !important;
  }
