.search-bar {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-inline-start: 25px;
  justify-content: space-between;
  position: inherit;
//   position:absolute;
}

.search-bar-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

svg {
    height: 40px;
    width: 80px;
    align-items: center;
    justify-self: center;
}