.stay-img-gallery {
  height: 100%;
  // max-height: 300px;
  // width: 400px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  object-fit: cover;
}

.stay-images-container {
  display: flex;
  gap: 20px;
}

.stay-images {
  display: flex;
  justify-content: space-between;
}

.stay-list-container {
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}


.stay-list-container .stay-preview-container {
  // width: 350px;
  width: 100%;
  justify-self: center;
}

.stay-list-container .center-container {
  display: flex;
  justify-content: center;
}

.stay-list ul {
  list-style-type: none;
}

.num-of-stays-h3 {
  font-family: 'Airbnb-Light';
}

span {
  display: inline;
}

//CAROUSEL ON LIST-PREVIEW SETTINGS
.el-carousel__container {
  // height: 80%;
  max-height: 185px;
  aspect-ratio: 18/12 !important;
  // width: 400px;
  width: 100%;
}


.el-carousel__button {
  display: block;
  opacity: 0.48;
  width: 5px !important;
  height: 5px !important;
  background-color: #fff;
  border: none;
  outline: 0;
  border-radius: 100% !important;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: var(--el-transition-duration);
}

.el-carousel__arrow {
  border: solid;
  outline: 0;
  padding: 0;
  margin: 0;
  height: 32px !important;
  width: 32px !important;
  cursor: pointer;
  transition: var(--el-transition-duration);
  border-radius: 50%;
  background-color: #cfcfcf;
  // color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  text-align: center;
  font-size: var(--el-carousel-arrow-font-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff !important;
  color: #4c4c4c !important;
}

.el-carousel__item {
  border-radius: 12px;
}

.el-carousel__item img {
  object-fit: cover;
}

.stay-desc .rating .rating-star {
  margin-right: 8px;
}


.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating .rating-value {
  font-size: 14px;
  line-height: 18px;
}

.rating-value span {
  color: $grey;
}

.stay-loc {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.stay-loc .room-type,
.stay-loc .stay-loc-name,
.stay-name {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 24px;
}

.stay-price {
  margin-top: 4px;
  font-size: 18px;
}

.stay-loc span {
  margin: 0 5px;
}

@media (min-width: 600px) {
  // .stay-list {
  //   // margin: 0 75px;
  // }
}

@media (max-width: 869px) {
  .stay-preview-container {
    width: 100% !important;
  }
}