.stay-img-gallery {
    height: 300px;
    width:400px;
    border-radius:20px;
}

.rating {
    display: flex;
    align-items: center;
}


.stay-details {
    display:grid;
    grid-template-rows: 1fr 1fr ;
    // grid-template-columns: 1fr 1fr 1fr ;
}

.stay-images-container {
    display: flex;
    gap: 20px;
}
.stay-images {
    display: flex;
    justify-content: space-between;
}
.toy-list-container{
    margin: 0;
    padding-left: 10px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}
.toy-list-container .stay-preview-container{
    width: 400px;
    justify-self: center;
}
.toy-list-container .center-container{
    display: flex;
    justify-content: center;
}
