.stay-img-gallery {
  height: 100%;
  max-height: 300px;
  // width: 400px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.stay-images-container {
  display: flex;
  gap: 20px;
}
.stay-images {
  display: flex;
  justify-content: space-between;
}
.stay-list-container {
  margin: 0;
  padding-left: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}
.stay-list-container .stay-preview-container {
  width: 350px;
  justify-self: center;
}
.stay-list-container .center-container {
  display: flex;
  justify-content: center;
}
span {
  display:inline
}
//CAROUSEL ON LIST-PREVIEW SETTINGS

.el-carousel__button {
  display: block;
  opacity: 0.48;
  width: 5px !important;
  height: 5px !important;
  background-color: #fff;
  border: none;
  outline: 0;
  border-radius: 100% !important;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: var(--el-transition-duration);
}

.el-carousel__arrow {
  border: solid;
  outline: 0;
  padding: 0;
  margin: 0;
  height: 32px !important;
  width: 32px !important;
  cursor: pointer;
  transition: var(--el-transition-duration);
  border-radius: 50%;
  background-color: #cfcfcf;
  // color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  text-align: center;
  font-size: var(--el-carousel-arrow-font-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff!important;
  color: #4c4c4c!important;
}
.el-carousel__item{
  border-radius: 20px;
}
.el-carousel__item img{
  object-fit: cover;
}
.stay-desc{
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.stay-desc > div {
  margin-top: 5px;
}
.stay-desc .rating{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.stay-desc .rating .rating-star{
  margin-right: 8px;
}
.stay-desc .stay-loc{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stay-desc .stay-loc-name{
  font-weight: bold;
}
.stay-desc .stay-loc span{
  margin: 0 5px;
}
.stay-desc .stay-price .price{
  font-weight: bold;
  margin-right: 10px;
}




@media (min-width: 600px){
  .stay-list{
    margin: 0 75px;
  }
}
@media (max-width: 869px){
  .stay-preview-container{
    width: 100%!important;
  }
}


