@font-face {
    font-family: 'Airbnb-Medium';
    src: url('@/assets/fonts/AirbnbCereal-Medium.ttf');
}   
@font-face {
    font-family: 'Airbnb-Black';
    src: url('@/assets/fonts/AirbnbCereal-Black.ttf');
}   

@font-face {
    font-family: 'Airbnb-Light';
    src: url('@/assets/fonts/AirbnbCereal-Light.ttf');
}   

@font-face {
    font-family: 'Airbnb-Book';
    src: url('@/assets/fonts/AirbnbCereal-Book.ttf');
}   

@font-face {
    font-family: 'Airbnb-Bold';
    src: url('@/assets/fonts/AirbnbCereal-Bold.ttf');
}   
@font-face {
    font-family: 'Airbnb-ExtraBold';
    src: url('@/assets/fonts/AirbnbCereal-ExtraBold.ttf');
}   
@font-face {
    font-family: 'CircularStd-BlackItalic';
    src: url('@/assets/fonts/CircularStd-BlackItalic.otf');
}   
@font-face {
    font-family: 'CircularStd-Bold';
    src: url('@/assets/fonts/CircularStd-Bold.otf');
}   
@font-face {
    font-family: 'CircularStd-Book';
    src: url('@/assets/fonts/CircularStd-Book.otf');
}   
@font-face {
    font-family: 'CircularStd-Medium';
    src: url('@/assets/fonts/CircularStd-Medium.otf');
}   
@font-face {
    font-family: 'CircularStd-Black';
    src: url('@/assets/fonts/CircularStd-Black.otf');
}   
@font-face {
    font-family: 'CircularStd-Light';
    src: url('@/assets/fonts/CircularStd-Light.otf');
}   

// @font-face {
//     font-family: 'Montserrat-Regular';
//     src: url('@/assets/fonts/Montserrat/Montserrat-Regular.ttf');
//   }