// AIRBNB COLOR PALETTE
$black:#2f2f2f;
// $rausch:#FF5A5F;
$rausch: #ff385c;
$babu:#00A699;
$arches:#FC642D;
$hof:#484848;
$foggy:#767676;


// LAYOUT
// $layoutPadding: 

// BREAKPOINTS
// $break-narrow: ;
// $break-normal: ;
// $break-wide: ;
