// AIRBNB COLOR PALETTE
$black:#222222;
$grey:#717171;
$rausch: #ff385c;
$babu:#00A699;
$arches:#FC642D;
$hof:#484848;
$grey:#717171;


// LAYOUT
// $layoutPadding: 

// BREAKPOINTS
// $break-narrow: ;
// $break-normal: ;
// $break-wide: ;
