// AIRBNB COLOR PALETTE

$rausch:#FF5A5F;
$babu:#00A699;
$arches:#FC642D;
$hof:#484848;
$foggy:#767676;
$black:#2f2f2f;

// LAYOUT
// $layoutPadding: 

// BREAKPOINTS
// $break-narrow: ;
// $break-normal: ;
// $break-wide: ;
